[submodule "themes/hugo-artists-theme"]
  path = themes/hugo-artists-theme
  url = https://github.com/digitalcraftsman/hugo-artists-theme.git

[submodule "themes/hugo-sustain"]
  path = themes/hugo-sustain
  url = https://github.com/nurlansu/hugo-sustain.git
